$main-font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

/* Varibles For Desktop */
$desktop__hero-header-font-size:60px;
$desktop__hero-header-font-weight:700;

$desktop__hero-paragraph-font-size:20px;
$desktop__hero-paragraph-font-weight:700;

$desktop__section-header-font-size:50px;
$desktop__section-header-font-weight:700;

$desktop__section-paragraph-font-size:20px;
$desktop__section-paragraph-font-weight:400;

$desktop__button-padding:22px 50px;
$desktop__button-border-radius:5000px;

$desktop__questions-card-padding:48px 90px;
$desktop__questions-card-border-radius:40px;

$desktop__checkbox-card-padding:14px 40px;
$desktop__checkbox-card-border-radius:5000px;

$desktop__colorful-card-border-radius:60px;
$desktop__colorful-card-padding:50px;

$desktop__big-card-padding:100px 135px;
$desktop__big-card-border-radius:60px;



/* Variables For Mobile */
$mobile__hero-header-font-size:36px;
$mobile__hero-header-font-weight:700;

$mobile__hero-paragraph-font-size:16px;
$mobile__hero-paragraph-font-weight:700;

$mobile__section-header-font-size:36px;
$mobile__section-header-font-weight:700;

$mobile__section-paragraph-font-size:20px;
$mobile__section-paragraph-font-weight:400;

$mobile__button-padding:15px 38px;
$mobile__button-border-radius:5000px;

$mobile__questions-card-padding:30px 40px;
$mobile__questions-card-border-radius:40px;

$mobile__checkbox-card-padding:12px 25px;
$mobile__checkbox-card-border-radius:5000px;

$mobile__colorful-card-border-radius:60px;
$mobile__colorful-card-padding:50px;

$mobile__big-card-padding:40px 28px;
$mobile__big-card-border-radius:60px;